# Python - pliki skompilowane i cache
__pycache__/
*.py[cod]
*$py.class

# Środowiska wirtualne
venv/
env/
.env
Iris_Recognition_System/iris_venv/

# Jupyter Notebooks - pliki tymczasowe
.ipynb_checkpoints

# Pliki systemowe i IDE
.vscode/
.idea/
.DS_Store

# Dane i logi
*.log

Iris_Recognition_System/plan.md
